@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&display=swap');


body {
    height: 100vh;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-family: 'Cormorant Unicase', serif;
    font-size: 80px;
}

.name, .greet { 
    display: none;
}

.showing {
    display: block;
}

.greetname {
    display: flex;
}

h4 {
    margin: 20px 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}